# IntelliJ IDEA spezifisch
.idea/
*.iml
*.iws
out/
.idea_modules/

# Java spezifisch
*.class
*.jar
*.war
*.ear

# Log- und Debug-Dateien
*.log
hs_err_pid*

# Betriebssystem spezifisch
.DS_Store
Thumbs.db
ehthumbs.db
*.stackdump

# Gradle spezifisch
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/

# Maven spezifisch (falls du Maven verwendest)
target/
*.war
*.ear

# PaperMC spezifisch
plugins/
logs/
cache/
crash-reports/

# Sonstiges
*.swp
*~
